<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/chart.js"></script>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span>IADFS</span>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li><a class="nav-link scrollto active" href="/forecast">Forecast</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <!-- End Header -->
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li>Forecast</li>
        </ol>
        <h2>Forecast</h2>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-9 entries">
            <!-- Bar Chart -->
            <article class="entry">
              <div class="entry-img">
                <% if(forecast.length> 0) {%>
                  <script>
                    // Passing data from nodejs to javascript
                    // Json 내부 쌍따옴표("") 사용
                    // Nodejs 문법 사용 위해서 따옴표('') 사용할 것
                    var data = JSON.parse('<%- forecast %>');
                    getParameter().then(processData).then(drawChart);

                  </script>
                  <div id="columnchart_values"></div>
                  <%} else {%>
                    <div id="no-data" class="d-flex flex-column align-items-center justify-content-center"
                      style="background-color: rgba( 192,192,192,0.3); width: 100%; height: 475px;">
                      <span style="font-size: 80px">No Data</span>
                      <span style="font-size: 20px">Please submit data option!</span>
                    </div>
                    <% } %>
              </div>
            </article><!-- End blog entry -->

            <!-- Map Chart -->
            <article class="entry">
              <div class="entry-img">
                <script
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtzJM8JY8JFlt5f-evGd-GRpniXUSeTUo"></script>
                <script type="text/javascript"
                  src="https://ghcdn.rawgit.org/sebaek42/demand_forecasting/main/test/geochart-geojson.js">
                // https://rawgit.org/ 에서 깃헙 리소스 url 넣으면 링크 생성됨</script>
                <% if(forecast.length> 0) {%>
                  <div id="mapchart_values" style="width: 1280px; height: 720px;"></div>
                  <%} else { %>
                    <div id="no-data" class="d-flex flex-column align-items-center justify-content-center"
                      style="background-color: rgba( 192,192,192,0.3); width: 100%; height: 475px;">
                      <span style="font-size: 80px">No Data</span>
                      <span style="font-size: 20px">Please submit data option!</span>
                    </div>
                    <%}%>
              </div>
            </article><!-- End blog entry -->
            <!-- Pie Chart -->
            <article class="entry">
              <div class="entry-img">
                <% if(forecast.length> 0) {%>
                  <div id="piechart_values"></div>
                  <%} else { %>
                    <div id="no-data" class="d-flex flex-column align-items-center justify-content-center"
                      style="background-color: rgba( 192,192,192,0.3); width: 100%; height: 475px;">
                      <span style="font-size: 80px">No Data</span>
                      <span style="font-size: 20px">Please submit data option!</span>
                    </div>
                    <%}%>
              </div>
            </article>
            <article class="entry">
              <div class="entry-img">
                <% if(forecast.length> 0) {%>
                  <div id="rowchart_values"></div>
                  <%} else { %>
                    <div id="no-data" class="d-flex flex-column align-items-center justify-content-center"
                      style="background-color: rgba( 192,192,192,0.3); width: 100%; height: 475px;">
                      <span style="font-size: 80px">No Data</span>
                      <span style="font-size: 20px">Please submit data option!</span>
                    </div>
                    <%}%>
              </div>
            </article><!-- End blog entry -->
          </div><!-- End blog entries list -->
          <div class="col-lg-3">
            <div class="sidebar">
              <form action="/forecast" class="sidebar-item" method="get">
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="sidebar-title">Region</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios1"
                          value="total" checked>
                        <label class="form-check-label" for="regionRadios1">
                          전체
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios2" value="Etc">
                        <label class="form-check-label" for="regionRadios2">
                          Etc
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios3"
                          value="South East Asia">
                        <label class="form-check-label" for="regionRadios3">
                          South East Asia
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios4"
                          value="North East Asia">
                        <label class="form-check-label" for="regionRadios4">
                          North East Asia
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios5"
                          value="America">
                        <label class="form-check-label" for="regionRadios5">
                          America
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios6"
                          value="Oceania">
                        <label class="form-check-label" for="regionRadios6">
                          Oceania
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios7"
                          value="Europe">
                        <label class="form-check-label" for="regionRadios7">
                          Europe
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios8"
                          value="Japan">
                        <label class="form-check-label" for="regionRadios8">
                          Japan
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios9"
                          value="China">
                        <label class="form-check-label" for="regionRadios9">
                          China
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="regionRadios" id="regionRadios10"
                          value="Middle East">
                        <label class="form-check-label" for="regionRadios10">
                          Middle East
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="form-group" style="margin-top: 30px">
                  <div class="row">
                    <legend class="sidebar-title">Type</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="typeRadios" id="typeRadios1" value="total"
                          checked>
                        <label class="form-check-label" for="typeRadios1">
                          전체
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="typeRadios" id="typeRadios2"
                          value="departure">
                        <label class="form-check-label" for="typeRadios2">
                          출국
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="typeRadios" id="typeRadios3" value="arrive">
                        <label class="form-check-label" for="typeRadios3">
                          입국
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="form-group" style="margin-top: 30px">
                  <div class="row">
                    <legend class="sidebar-title">Date</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="" id="typeRadios1" value="total" checked>
                        <label class="form-check-label" for="typeRadios1">
                          전체
                        </label>
                      </div>
                    </div>
                    <div class="form-group row" style="margin-top: 30px;">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div><!-- End sidebar -->
          </div><!-- End blog sidebar -->
        </div>
      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include ('../partials/footer') %>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/purecounter/purecounter.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>



</body>

</html>
